<html>
    <head>
        <style>
            .cat_large {
                font-weight: bold;
                font-size: 1.2em; /* Sesuaikan dengan ukuran yang Anda inginkan */
            }
        </style>
    </head>
<body>
    <h2>Filter and Page</h2>
    <form action="/e-booksdirectory/search" method="GET">
        <label for="filter">Filter:</label>
        <select name="filters">
            <option value="cat">Category</option>
            <option value="new">New</option>
            <option value="top">Top</option>
            <option value="popular">Popular</option>
        </select>
        <label for="cat">Categories :</label>
        <select name="cat">
            <option value=>Filter-Non-Categories</option>
            <option value=1>Arts & Photography</option>
            <option value=2>Biographies & Memoirs</option>
            <option value=3>Business & Investing</option>
            <option value=4>Children's Books</option>
            <option value=5>Comics & Graphic Novels</option>
            <option value=6>Computers & Internet</option>
            <option value=7>Cooking, Food & Wine</option>
            <option value=8>Engineering</option>
            <option value=9>Entertainment</option>
            <option value=10>Health, Mind & Body</option>
            <option value=11>History</option>
            <option value=12>Humanities</option>
            <option value=13>Law</option>
            <option value=14>Literature & Fiction</option>
            <option value=15>Mathematics</option>
            <option value=16>Medicine</option>
            <option value=17>Nonfiction</option>
            <option value=18>Outdoors & Nature</option>
            <option value=19>Religion & Spirituality</option>
            <option value=20>Science</option>
            <option value=21>Science Fiction & Fantasy</option>
            <option value=22>Travel</option>
        </select>
        <label for="countpage">How many pages :</label>
        <input type="number" min="1" name="countpage" />
        <button>Search</button>
    </form>
</body>
</html>